@{
    ViewData["Title"] = "Home Page";
}

<h2>
    Hi
</h2>
<h3>
    Welcome to Appva Front end test. Good luck!
</h3>

<h2>Timepicker</h2>
<p>Enter a date</p>
<div class="form-controls">
    <label for="id5c60199e2eeb1">YYYYMMDD</label>
    <input type="date" name="datePick" required="required" />
</div>


